<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="Post" th:action="@{/admin/create}" th:object="${user}">
    <label for="name">User name</label>
    <input id="name" type="text" th:field="*{username}"/>
    <br/>
    <label for="email">User email</label>
    <input id="email" type="text" th:field="*{email}"/>
    <br/>
    <label for="password">User password</label>
    <input id="password" type="text" th:field="*{password}"/>
    <br/>
    <div >
        <th:block th:each="role: ${listOfRoles}">
            <input type="checkbox" th:field="*{roles}"
                   th:text="${role.getName()}" th:value="${role.getId()}" class="m-2" />
        </th:block>
    </div>

    <input type="submit" value="Create user.">
</form>

<a href="/admin">To all users.</a>
</body>
</html>

<!--<div th:each="u:${users}">-->
<!--    <a th:href="@{/admin/{id}(id=${u.getId()})}"-->
<!--       th:text="${u.getId()}+', '+${u.getUsername()}">user</a>-->
<!--</div>-->